/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */
  
  .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
     html{
       box-sizing: border-box;
       
     }
     *,*::before,*::after{
       box-sizing: inherit;
     }
     body{
       background-color: #ffffff;
       font-family: 'Open Sans', sans-serif;
     }
     /*Global*/
     .contenedor{
       width: 98%;
       margin: 0 auto;
     }
     @media only screen and (min-width:480px){
      .contenedor{
        width: 95%;
      }
    }
     @media only screen and (min-width:768px){
       .contenedor{
         width: 90%;
       }
     }
     @media only screen and (min-width:992px){
      .contenedor{
        width: 90%;
        max-width: 1100px;
      }
    }
    .seccion{
      padding: 30px 0;
    }
    .seccion p{
      font-size: 1.2em;
      text-align: center;
    }
    h2{
      font-family: 'Oswald', sans-serif;
      font-size: 2.4em;
      text-transform: uppercase;
      text-align: center;
     }
     h2::after{
       content: '';
       margin: 0 auto;
       background-image: url(../img/separador.png);
       height: 30px;
       width: 100px;
       display: block;
     }
     h3{
       font-size: 1.8em;
       color: #fe4918;
       font-family: 'Oswald', sans-serif;
       margin: 0; 
     }
     .button{
       background-color: #fe4918;
       padding: 10px 40px;
       color: #ffffff;
       text-transform: uppercase;
       font-weight: bold;
       text-decoration: none;
       font-size: 1vw;
       margin-top: 20px;
       display: inline-block;
       transition: all .1s ease;
       border: 2px solid #fe4918;
     }
     .button.hollow{
      background-color: #ffffff;
      color: #fe4918;
     }
     .button.hollow:hover{
       background-color: #fe4918;
       color: #ffffff;
     }
     .button.transparente{
       background-color: transparent;
     }
     ul{
       list-style: none;
       margin: 0;
       padding: 0;
     }
     .button:hover{
       background-color: #e33000;
     }
     .float-right{
       float: right;
     }
     input[disabled].button { /**Dar efecto de deshabilitado al boton, codigo sacado de las preguntas, seccion 47, clase 384**/
      opacity: .5;
    }

     /* lettering */
     h1.nombre-sitio span{
       position: relative;
       text-shadow: 0 0 8px black;
     }
     

     /**header**/
     
     div.hero{
        background-image: url(../img/IMG_4635mod002reducida.jpg);
       height: 100vh;
       background-position: top center;
       background-size: cover;
       
       
     }
     
     div.contenido-header{
       padding-top: 40px;
       /* background-color: #00000081; */
       width: 100%;
     }
  
     @media only screen and (min-width:768px){
      div.contenido-header{
        padding-top: 10px;
      }
     }
  
     nav.redes-sociales{
       text-align: center;
     }
     nav.redes-sociales a{
       
       color: #fe4918;
       font-size: 2.6em;
       margin-right: 20px;
     }
     nav.redes-sociales a:last-child{
       margin-right: 0;
     }
     div.informacion-evento{
       text-align: center;
       color: #ffffff;
       font-size: 28px
     }
     
     div.informacion-evento p{
       margin: 0;
       display: inline;
       font-size: 28px;
       
     }
     div.informacion-evento p i{
       color:  #fe4918;
       font-size: 1.8rem;
     }
     @media only screen and (min-width:768px){
      div.informacion-evento{
        width: 70%;
        margin: 0 auto;
      }
      div.informacion-evento p i{
        font-size: 3.5rem
      }
     }
     p.fecha{
       float: left;
     }
     p.ciudad{
       float: right;
       text-align: right;
     }
     p.slogan{
       text-transform: none!important;
     }
     p.slogan span{
       font-weight: bold;
     }
     div#gafete p{
      font-size: 1.2em;
      text-align: left;
      color: #fe4918;
     }
     .info{
       /* background-color: #00000081; */
       text-align: center;
       margin-top: 4px;
     }
     
     .info a{
      border: 2px solid #fe4918;
      color: #ffffff;
      text-decoration: none;
      font-family: 'Oswald', sans-serif;
      font-size: 2.4vw;
      transition: all 500ms ease;
      padding: 0 15px;
     }
     .info a:hover{
      cursor: pointer;
      color: #fe4918;
     }
     .info h1{
      display: block;
      text-align: center;
      color: #ffffff;
      font-family: 'Oswald', sans-serif;
      font-size: 2.4vw;
     }
     .down{
       width: 100%;
       display: inline-block;
     }
     
     h1.nombre-sitio{
       font-size: 5.2vw;
       text-transform: uppercase;
       font-family: 'PT Sans', sans-serif;
       color: white;
     }
     @media only screen and(min-width:768px){
     
     }
     @media only screen and (min-width: 621px) {  
      h1.nombre-sitio{
        font-size: 11.8vw;
        margin: 0;
        line-height: 1;
      }
  } 
     
     
     /*Barra*/
     div.barra{
       background-color: #353535;
       
       padding: 20px 0;
       height: 80px;
       z-index: 99;
       
     }
     .fixed{
       position: fixed;
       width: 100%;
       top: 0;
       left: 0;
       z-index: 2;
     }
     .elementos__barra{
       width: 100%;
       height: 80px;
      
       display: grid;
       grid-template-columns: repeat(12, 1fr);
       grid-template-rows: repeat(1, 1fr);
       margin: 0 auto;
       margin-top: -20px;
     }
     .logo_barra{
       grid-row: 1 / 1;
       grid-column: 3 / 7;
       background-image: url(../img/siam/logohoirizontalwhiteEXT.png);
       background-repeat: no-repeat;
       background-size: contain;
       background-position-x: center;
     }
     .menu-hambur{
      position: relative;
      width: 100%;
      
      grid-row: 1 / 1;
      grid-column: 10 / 11;
      margin-left: 0%;
      
      overflow: hidden;
     }
     #btn{
      color: white;
      bottom: calc(50% - 23px);
      right: calc(50% - 23px);
      position: absolute;
      font-size: 42px;
    }
    #btn:hover{
      color: #fe4918;
    }
    #clc{
      color: white;
      
      bottom: calc(50% - 23px);
      right: calc(50% - 23px);
      position: absolute;
      font-size: 42px;
    }
    #clc:hover{
      color: #fe4918;
    
    }
    .hotcall{
      width: 220px;
      height: auto;
      margin-top: 30px;
      grid-row: 1 / 1;
      grid-column: 8 / 10;
      position: relative;
      text-align: center;
      margin-left: calc(50% - 110px);

    }
    .hotcall i{
      
      font-size: 20px;
      color: white;
    }
    .hotcall i:hover{
      color: #fe4918;

    }
    #check, #check-hotcall{
      display: none;
    }
     div.logo{
       width:250px;
      background-color: green;
       float: left;
     }
     div.logo img{
       width:250px;
	      background-color: red;
     }
     @media only screen and (min-width:768px){
      div.logo img{
        width: 43%;
      }
     }
     /*Navegacion principal*/
     nav.navegacion-principal{
       display: none; 
       width: 100%;
       margin-top: 90px;
     }
     nav.navegacion-principal a{
      font-family: 'Oswald', sans-serif;
      color: #ffffff;
      font-size: 1.3em;
      text-decoration: none;
      text-transform: uppercase;
      transition: all .1s ease;
      width: 100%;
      display: block;
      text-align: center;
      margin-bottom: 20px;
     }
     nav.navegacion-principal a:hover{
       background-color: #fe4918
     }
     nav.navegacion-principal a:last-child{
      border: 2px solid #fe4918;
      color: #fe4918;
     }
     nav.navegacion-principal a:last-child:hover{
      color: #ffffff;
    }
    nav.navegacion-principal a:nth-child(4){
       margin-right: 30px;
       border: 2px solid #fe4918;
       color: #fe4918;
     }
     nav.navegacion-principal a:nth-child(4):hover{
       color: #ffffff;
     }
     @media only screen and (min-width:1160px){
       nav.navegacion-principal{
         width: 67%;
         float: right;
         text-align: right;
         display: block;
         margin-top: -57px;
       }
       nav.navegacion-principal a{
         padding: 10px 10px;
         width: auto;
         display: inline-block;
         text-align: center;
         margin: 20 10px 0 0;
       }
     }
     /*Menu Movil*/
     div.menu-movil{
       width: 60px;
       display: block;
       float: right;
       text-align: right;
       margin-top: 12px;
     }
     div.menu-movil:hover{
       cursor: pointer;
     }
     @media only screen and (min-width:1160px){
       div.menu-movil{
         display: none;
       }
     }
     div.menu-movil span{
       height: 8px;
       margin-bottom: 6px;
       background-color: white;
       display: block;
     }
     /*Programa*/
     
     
     section.programa{
       position: relative;
     }
     div.contenedor-video{
       max-width: 100%;
       height: 920px;
       overflow: hidden;
     }
     div.contenedor-video video{
     width: 1980px;
     height: auto;
    }
     div.contenido-programa{
       position: absolute;
       top: 0;
       left: 0;
       height: 100%;
       width: 100%;
     }
     div.programa-evento{
       background-color: rgba(167, 167, 167, 0.678);
       padding: 15px;
       margin-top: 80px;
     }
     @media only screen and (min-width:768px){
      div.programa-evento{
        width: 70%;
      }
     }
     @media only screen and (min-width:992px){
      div.programa-evento{
        width: 50%;
      }
     }
     nav.menu-programa {
       width: 100%;
       
       
     }
     @media only screen and (min-width:768px){
       nav.menu-programa{
         display: table;
       }
     }
     nav.menu-programa a{
       display: block;
       text-align: center;
       color: #000000;
       text-decoration: none;
       font-family: 'Oswald', sans-serif;
       margin-bottom: 10px;
       position: relative;
       padding-bottom: 10px;
       border-bottom: 1px solid #fe4918;
     }
     nav.menu-programa a.activo::after{
       position: absolute;
       content: '';
       left: 0;
       right: 0;
       margin-left: auto;
       margin-right: auto;
       height: 20px;
       width: 30px;
       background-image: url(../img/talleres-flecha2.jpg);
       background-repeat: no-repeat;
       bottom: -20px;


     }
     @media only screen and (min-width:768px){
      nav.menu-programa a{
        display: table-cell;
      }
     }
     nav.menu-programa a i,
     div.detalle-evento p i{
       color: #fe4918;
       font-size: 1.6em;
       margin-right: 10px;
     }
     div.ocultar {
      display: none;
    }
     div.detalle-evento{
       margin-top: 20px;
       border-bottom: 1px solid black;
       padding: 0 20px;
     }
     div.detalle-evento:nth-child(2){
       border: none;
     }
     div.detalle-evento p {
       margin-bottom: 20px;
       font-size: 20px;
     }

     /*Invitados*/
     ul.lista-invitados li {
       padding: 10px;
       float: left;
     }
     @media only screen and (min-width:480px){
       ul.lista-invitados li{
         width: 50%;
       }
     }
     @media only screen and (min-width:768px){
      ul.lista-invitados li{
        width: 33.3%;
      }
    }
    div.invitado{
      position: relative;
      overflow: hidden; 
    }
    div.invitado img{
      max-width: 100%;
      filter: gray;
      -webkit-filter: grayscale(1);
      -webkit-transition: all .5s ease-in-out;

    }
    div.invitado:hover img{
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.1);
    }
    div.invitado p{
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 15px 10px;
      margin: 0;
      background-color: rgba(0, 0, 0, 0.55);
      width: 100%;
      text-align: left;
      font-family: 'Oswald', sans-serif;
      color: #fe4918;
      text-transform: uppercase;
      -webkit-transition: all .5s ease-in-out;
    }
    div.invitado:hover p{
      bottom: -80px;
      opacity: 0;
    }
    /**contador**/
    .parallax::before{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      -webkit-filter: brightness(.8);
      filter: brightness(.8);
    }
    div.contador{
      position: relative;
      height: auto;
    }
    div.contador::before{
      content: '';
      background-image: url(../img/imagenfachadapress30usdmescomprimida.jpg);
    }
    ul.resumen-evento{
      position: relative;
      padding: 120px 0;
    }
    ul.resumen-evento li{
      width: 50%;
      float: left;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      font-family: 'Oswald', sans-serif;
      font-size: 24px; 
    }
    @media only screen and (min-width:768px){
      ul.resumen-evento li{
        width: 25%;
      }
    }
    p.numero{
      color: #fe4918;
      font-size: 4em;
      display: block;
      margin: 0 0 10px 0;
      font-family: 'Oswald', sans-serif;
    }
    /*Tabla de precios*/
    ul.lista-precios > li{
      padding: 10px;
    }

    @media only screen and (min-width:768px){
      ul.lista-precios > li{
        float: left;
        width: 50%
      }
    }

    div.tabla-precios{
      border: 1px solid #e1e1e1;
      background-color: #ffffff;
      padding: 40px;
      text-align: center;
      transition: all 350ms ease;
    }
    div.tabla-precios:hover{
      transform: scale(1.1);
      border: 1px solid #fe4918;
      box-shadow: 0px 0px 50px #666;
    }
    div.tabla-precios ul li{
      font-family: 'PT Sans', sans-serif;
      font-size: 14px;
      margin-bottom: 20px;
      text-transform: uppercase;
      color: #868686;
      line-height: 26px;
    }
    
    div.tabla-precios ul li::before{
      font-family:"Font Awesome 5 Free";
      display: inline-block;
      vertical-align: top;
      padding: 0 5px;
      font-size: 20px;
      color: green;
      -webkit-font-smoothing: antialiased;
      content: "\f058";
    }

    div.tabla-precios h3{
      font-family: 'Oswald', sans-serif;
      font-size: 16px;
      text-transform: uppercase;
    } 
    
    div.tabla-precios p.numero{
      color: #000000;
      margin-top: 20px 0;
      font-weight: bold;
    }

    /*Mapa*/
    div.mapa{
      height: 580px;
      border: 2px solid rgba(0, 128, 0, 0.219);
      z-index: 0;
      overflow:hidden;
      
    }
    div.mapsss{
      margin-top: -580px;
      height: 720px;
      width: 100%;
      background-color: rgba(255, 0, 0, 0.068);
      
      position: relative;
      
    }
    .contenedorbtn{
     
     margin-top: -200px;
     text-align: center;
    }
    .btonmaps{
      display: none;
      
      
      
    }
    .salirmapps a{
    
      background-color: #fe4918;
       padding: 10px 40px;
       color: #ffffff;
       text-transform: uppercase;
       font-weight: bold;
       text-decoration: none;
       font-size: 1vw;
       
       display: inline-block;
       transition: all .1s ease;
       border: 2px solid #fe4918;
       position: relative;
    }
    /*Testimoniales*/
    div.testimoniales{
      padding-bottom: 20px;
    }
    div.testimonial{
      padding: 5px;
    }
    @media only screen and (min-width:768px){
      div.testimonial{
        float: left;
        width: 33.3%
      }
    }
    blockquote{
      background-color: rgba(13, 190, 3, 0.133);
      border: 1px solid #e1e1e1;
      position: relative;
      margin: 0 0 10px 0;
      padding-bottom: 20px;
    }
    blockquote p{
      text-align: justify!important;
      font-size: 1em!important;
      font-family: 'PT Sans', sans-serif;
      padding: 0 20px 0 65px;
    }
    blockquote p::before{
      content: "\201c";
      position: absolute;
      left: 13px;
      top: 8px;
      font-size: 8rem;
      margin: 0;
      padding: 0;
      line-height: 1;
      color: #fe4918;
    }
    footer.info-testimonial{
      background-color: transparent;
      padding: 0;
    }
    footer.info-testimonial img{
      float: left;
      width: 20%;
      border-radius: 50%;
      margin-left: 20px;
    }
    footer.info-testimonial cite{
      text-align: left;
      color: #fe4918;
      text-transform: uppercase;
      font-size: 12px;
      padding-top: 20px;
      width: 66.6%;
      float: right;
      font-weight: bold;
      font-size: normal;
    }
    footer.info-testimonial cite span{
      color: #000000;
      display: block;
      text-transform: none;
    }

    /*NewsLatter*/

    div.newsletter{
      position: relative;
      height: auto;
    }

    div.newsletter::before{
      background-image: url(../img/bg-newsletter.jpg);
      content: '';
    }
    div.newsletter .contenido{
      padding: 100px 0;
      color: #ffffff;
      text-align: center;
      position: relative;
    }
    div.newsletter .contenido p{
      font-size: 1.2em;
      text-transform: lowercase;
    }
    div.newsletter .contenido h3{
      color: #ffffff;
      text-transform: uppercase;
      font-size: 3.1vw;
      font-family: 'PT Sans', sans-serif;
    }
    /**Cuenta Regresiva*/
    div.cuenta-regresiva ul li{
      text-transform: uppercase;
      font-family: 'Oswald', sans-serif;
      font-size: 1.6rem;
      text-align: center;
    }
    @media only screen and (min-width:768px){
      div.cuenta-regresiva ul li{
        width: 25%;
        float: left;
      }
    }
    /*Footer*/
    footer{
      background-color: #353535;
      padding-top: 40px;
      margin-top: 20px;
    }
    footer .contenedor > div{
      color: #ffffff;
      padding: 0px 20px;
      font-size: 12px;
      
    }
    @media only screen and (min-width:768px){
      footer .contenedor > div{
        width: 33.3%;
        float: left;
      }
    }
    footer h3{
      color: #ffffff;
      text-transform: uppercase;
      font-family: 'Oswald', sans-serif;
      margin-bottom: 20px;
    }
    footer h3 span{
      color: #fe4918;
    }
    footer .ultimos-tweets li{
      margin-bottom: 15px;
    }
    footer nav.redes-sociales{
      text-align: left;
    }
    footer nav.redes-sociales a{
      color: #ffffff;
    }
    p.copyright{
      background-color: #2e2e2e;
      color: #ffffff;
      padding: 0;
      margin:  0;
      text-align: center;
    }
    p.date{
      width: 100%;
      background-color: #2e2e2e;
      color: #ffffff;
      padding: 10px 0;
      margin: 20px 0 0 0;
      text-align: center;
    }

    /*Internas*/
    /* conferencia */
    .navegacion-principal .activo{
      border-bottom: 2px solid #fe4918;
    }
    div.galeria a{
      display: inline-block;
      margin-bottom: 5px;
    }
    /*Registro de usuarios*/

    form.registrocursofeb{
      text-align: center;
      margin: 20px 0 0 0;
    }

    form.registro h3{
      text-align: center;
      text-transform: uppercase;
      margin: 20px 0 0 0;
    }
    form.registro label{
      margin-bottom: 5px;
      font-weight: bold;
    }
  
    
    /*h4{
      text-align: center;
      text-transform: uppercase;
      border-bottom: 2px;
      padding-bottom: 10px;
      font-size: 1.2rem;
    }*/
    div.caja{
      background-color: white;
      border: 1px solid #e1e1e1;
      padding: 10px;
      margin: 10px;
    }
    div.campo{
      padding: 25px;
    }
    div.campo1{
      max-width: 50px;
      text-align: center;
    }
    
    @media only screen and (min-width:768px){
      div.campo{
        float: left;
        width: 25%;
      }
    }
    div.paquetes .tabla-precios:hover{
      transform: none;
      box-shadow: none;
    }
    div.paquetes .tabla-precios input{
      clear: both;
      width: 100px;
      margin: 10px auto 0 auto;
      display: block;
    }

    /*Registro Resumen*/
    div.resumen p{
      font-size: 1.2em;
      text-transform: uppercase;
    }
    div.resumen div.extras{
      text-align: center;
      width: 100%;
      
    }
    @media only screen and (min-width:768px){
      div.resumen div.extras{
        float: left;
        width: 50%;
        padding: 30px;
      }
    }
    div.extras div.orden{
      text-align: center;
      margin-bottom: 10px;
      background-color: #e1e1e1;
    }
    
    div.extras div.orden input{
      width: 40%; 
    }
    @media only screen and (min-width:768px){
      div.extras div.orden input{
        width: 10%; 
        float: right;
        margin: 0;
      }
    }
    div.resumen div.total{
      
      width: 100%;
      
    }
    @media only screen and (min-width:768px){
      div.resumen div.total{
        float: right;
        width: 50%;
        padding: 30px;
      }
    }
    div.resumen input{
      display: block;
      margin: 10px auto;
      
      text-align: center;
    }
    #lista-productos{
      background-color: #e1e1e1;
      padding:  10px;
      border: 2px solid #fe4918;
      display: none;
    }
    #suma-total{
      text-align: center;
      font-size:  2em;
      color: #fe4918;
    }
    #error{
      clear: both;
      padding: 20px;
      text-align: center;
      display: none;
    }
    /* calendario */
    div.calendario h3{
      background-color: #fe4918;
      clear: both;
      color: white;
      text-align: center;
      padding: 10px 0;
    }
    div.calendario::after{
      clear: both;
      display: block;
      content: '';
    }
    div.dia{
      width: 50%;
      float: left;
      border: 2px solid #e1e1e1;
      transition: all 300ms ease;
    }
    @media only screen and (min-width:768px){
      div.dia{
        width: 33.3%;
        min-height: 360px;
        padding-top: 20px;
      }
    }
    div.dia:hover{
      background-color: #e1e1e1;
      -webkit-transform: scale(1.1);
    }
    div.dia p.titulo{
      color: #fe4918;
      text-transform: uppercase;
      font-weight: bold;

    }
    div.dia p{
      font-size: 1em;
    }
    div.dia i{
      color: #fe4918;
      font-size: 1.6em;
    }
    /*cursofebrero2020*/
    div.presentacioncurso{
      width: 100%;
      font-family: 'Oswald', sans-serif;
    }
    div.presentacioncurso img{
      width: 100%;
      border: 3px solid #fe4918;
    }
    div.presentacioncurso p{
      margin: 0;
    }
    div.presentacioncurso p.tel{
      color: #fe4918;
    }
    img#firma{
      width: 70%;
    }
    /*tablas*/
    table {
      width: 100%;
      border: 2px solid #999;
      text-align: left;
      border-collapse: collapse;
      margin: 0 0 1em 0;
      caption-side: top;
    }
    caption, td, th {
        padding: 0.3em;
    }
    th, td {
      text-align: center;
        border-bottom: 3px solid #999;
        width: 25%;
    }
    td.celda{
      border: 3px solid #999;
      background-color: #fe4918;
      color: #ffffff;
    }
    td.celdaright{
      border-right: 3px solid #999;
    }
    caption {
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        
    }
    hr{
      border: 1px solid #fe4918;
    }
      /*colorBOX*/

    div.cboxElement{
      padding: 30px!important;
      text-align: center;
    }
    /* Gafete */
    div#gafete {
      position: relative;
      width: 100%;
 }
 div#gafete img#gafe{
  
  width: 8.5cm;
  height: 12.5cm;
  top: 200px;
  right: 700px;
  }
  div#gafete img#gafebot{
    width: 8.5cm;
    height: 12.5cm;
    top: 200px;
    right: 450px;
  }
 
 div#gafete img#ima{
     width: 5.61cm;
     height: 5.45cm;
     
 }
img#ima{
  width: 6.61cm;
  height: 6.45cm;
  border:  1px solid #fe4918;
  
}
img#ima1{
  width: 6.61cm;
  height: 6.45cm;
  border:  1px solid #fe4918;
}
 div#datos-fot{
  position: absolute;
  top: 133px;
  left: 0px;
  width: 200px;

  }
 div#datos-nomb{
     position: absolute;
     top: 372px;
     left: 75px;
     width: 200px;
 }
 div#datos-ape{
  position: absolute;
  top: 397px;
  left: 83px;
  width: 215px;
  }
  div#datos-id{
      position: absolute;
      top: 418px;
      left: 96px;
      width: 200px;
  }
  /*up*/
  img#upimg{
    width: 8.5cm;
    height: 12.5cm;
  }

  /*Resultado*/
  .resultado{
    text-align: center;
    padding: 1rem;
    color: white;
    max-width: 400px;
    margin: 0 auto;
  }
  .correcto{
    background-color: rgb(2, 173, 3);
  }
  .error{
    background-color: red;
  }
  form{
    padding: 3rem;
    margin-top: 2rem;
}
form legend{
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    text-align: center;
}
legend span{
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    clear: both;
    display: block;
}
#one{
  display: block;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  text-align: center;
}
#one span{
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  clear: both;
  display: block;
}
/*Notificaciones*/
.notificacion{
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 1rem 3rem;
  opacity: 0;
  transition: opacity .5s ease;
}
.visible{
  opacity: 1;
}
/*Colores de la notificación*/
.correcto{
  background-color: rgb(179, 241, 117);
  color: green;
}
.error{
  background-color: rgb(238, 148, 166);
  color: rgb(133, 0 , 33);

}
/* //.barra{
  background-color: #f3f3fe;
  border-radius: 5px;
  box-shadow:  inset 0px 0px 5px rgb(0,0,0, .2);
  height: 25px;
} */
.cancel{
  background-color: #ed1f3c!important;
}
.barra_azul{
  background-color: #247cc0;
  border-radius: 10px;
  display: block;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 0%;
}
.barra_verde{
  background-color: #2ea265!important;
}
.barra_roja{
  background-color: #de3152!important;
}
.form{
  margin: 1.5% 0;
  padding: 2%;
}
#barra_estado span{
  color: #fff;
  font-weight: bold;
  line-height: 25px;
}
/*Botones*/
.btn{
  font-size: 2rem;
  text-decoration: none;
}
.btn :hover{
    cursor: pointer;
}
.btn-editar{
  color: rgb(43, 160, 131);
}
.btn-borrar{
  color: #fe4918;
}

.volver{
    background-color: #fe4918;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
    padding: .5rem;
}
/* Listado de contactos*/
.contactos{
  padding: 2rem;
  margin-top: 3rem;
}
.contenedor-contactos{
  max-width: 800px;
  margin: 4rem auto 0 auto;
}
.total-contactos{
  font-family: 'Open Sans', sans-serif;
  margin: 2rem 0;
  text-align: center;
  color: #fe4918;
  font-size: 2rem;
}
.total-contactos span{
  font-size: 3rem;
  font-weight: 900;
}
.buscador{
  width: 100%;
  height: 4vw;
  padding: 1rem;
  border: 1px solid #e1e1e1;
  margin:  2rem 0;
}
.contendor-tabla{
  max-height: 1100px;
  overflow: scroll;
}
table{
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
}
.listado-contacto thead{
  background-color: #fe4918;
  color: black;
  text-transform: uppercase;
}
.listado-contacto thead th{
  padding: 1rem 0;
}
.listado-contacto tbody td{
  padding: .5rem;
}
.listado-contacto tbody td:nth-child(4){
  text-align: center;
}
.listado-contacto button{
  background-color: transparent!important;
  border: none;
}

.contenedor1{
  max-width: 85%;
  margin: 10px auto;
  
}
.bg-amarillo{
  background-color: #353535;
  color: white;
}
.bg-blanco{
    background-color: rgb(174, 190, 186);
    color:#353535;
}
.sombra{
  -webkit-box-shadow: 14px 11px 10px -9px rgba(0,0,0,0.55);
  -moz-box-shadow: 14px 11px 10px -9px rgba(0,0,0,0.55);
  box-shadow: 14px 11px 10px -9px rgba(0,0,0,0.55);
  border-radius: .3rem;
}
@media (min-width:768px){
  .camposadmin{
      
      justify-content: space-between;
  }
  .campoadmin{
      flex: 0 0 calc(10% - 1rem);
  }}
  .campoadmin{
    padding: .5rem 0;
  }
  .campoadmin label{
      font-size: 1.2rem;
  }
  .campoadmin input[type="text"],
  .campoadmin input[type="tel"]{
      font-size: 2.1vw;
      width: 100%;
      border: none;
      padding: .5rem;
      height: 2vw;
  }@media (min-width:768px){
    .campoadmin input[type="text"],
    .campoadmin input[type="tel"],
    .campoadmin input[type="email"],
    .campoadmin input[type="num"]{
        font-size: 1.2vw;
        width: 100%;
        border: none;
        padding: .5rem;
        height: 2vw;
    }
  }
 
 
  

 
   

  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden {
    display: none !important;
  }
  
  /*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
  * Extends the .sr-only class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
  * Hide visually and from screen readers, but maintain layout
  */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
  * Clearfix: contain floats
  *
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */
  
  .clearfix:before,
  .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  
  .clearfix:after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *:before,
    *:after {
      background: #868686 !important;
      color: #000 !important;
      /* Black prints faster */
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }
    a,
    a:visited {
      text-decoration: underline;
    }
    a[href]:after {
      content: " (" attr(href) ")";
    }
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
    /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
    pre {
      white-space: pre-wrap !important;
    }
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
    /*
       * Printing Tables:
       * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
       */
    thead {
      display: table-header-group;
    }
    tr,
    img {
      page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
    h2,
    h3 {
      page-break-after: avoid;
    }
  }